<div class="container">
	<div class="center hero-unit">
		<% provide(:title, 'About') %>
		<p>
			Компания «Инфополис»® работает на украинском и международном рынке информационных технологий с июня 1997г.
			Основная специализация компании — разработка программных систем, а также консалтинг в таких областях, как:
		</p>
		<ul></ul>
		<li>
			комплексная автоматизация предприятия
		</li>
		<li>
			складской и бухгалтерский учет
		</li>
		<li>
			планирование и бюджетирование
		</li>
		<li>
			документооборот
		</li>
		<li>
			интеллектуальный анализ данных
		</li>
		<li>
			нтернет-технологии.
		</li>

		<p/>
		<p>
			Наша миссия: Объединив наши знания с опытом клиента в области его бизнеса, создать уникальную и оптимальную информационную систему для каждого конкретного предприятия.
		</p>
		<p>
			Наш опыт создания информационных систем позволяет оградить наших клиентов от типичных ошибок, допускаемых в процессе автоматизации бизнес-процессов.
		</p>
		<p>
			Мы не просто устанавливаем программу для управления предприятием — мы обучаем пользователей современным эффективным методам анализа информации и управления, помогая решить те конечные задачи, ради которых начинается процесс автоматизации.
		</p>

		<p>
			Мы всегда рядом и готовы помочь клиенту развивать учетную систему параллельно с эволюцией его бизнеса. Самые передовые технологии, применяемые нами при разработке, позволяют эффективно вложить средства в построение информационной системы, обеспечив ее работоспособность на многие годы.
		</p>

		<p>
			Благодаря уникальной масштабируемости системы, гибкой лицензионной и ценовой политике, наши решения нашли применение на предприятиях разного уровня - от простой торговой точки, где установлен один компьютер, до корпорации с сотнями пользователей и множеством территориально удаленных филиалов.
		</p>

		<p>
			Компания проводит расширение диллерской сети.
		</p>
		<p>
			Приглашаем к сотрудничеству компании, деятельность которых связана с аудитом, финансовым консалтингом, продажей ПО, внедрением учетных и информационных систем и пр. Для наших партнеров мы проводим индивидуальное обучение, обеспечение рекламными и методическими материалами, оказание информационной поддержки на каждом этапе работы с клиентом.
		</p>
	</div>
</div>