<% provide :title, 'Home' %>


<div class="container center hero-unit">
  <h2>Welcome to the Report system</h2>

  <%= link_to "Sign in!", signin_path, class: "btn btn-large btn-primary" unless signed_in? %>
</div>

