<% provide :title, full_title('Home') %>


<div class="center hero-unit">
  <h2>Welcome to the Report system</h1>

  <%= link_to "Sign in!", signin_path, class: "btn btn-large btn-primary" %>
</div>

