<% provide :title, 'SmallBusinessERP' %>


<div class="container">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-6">
      <div class="logo3" style="margin-top: 25pt">ERP</div>
      <%= t(:infopolis_erp_long_description1).html_safe %>

      <div class="logo3" style="margin-top: 25pt">CRM&BPM</div>

      <%= t(:infopolis_CRM_BPM_long_description_p1).html_safe %><br/>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-4">
      <div class="logo4" style="margin-top: 25pt; text-align: right"><%= t(:infopolis_erp_how).html_safe %></div>
      <%= t(:infopolis_CRM_BPM_long_description_p1).html_safe %><br/>
    </div>
  </div>
  <div class="row roof"></div>
</div>
