<% provide :title, 'Home' %>


<div class="container">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-7">
      <div class="logo3">ERP</div>
      <%= t(:infopolis_erp_long_description).html_safe %>
      <div class="logo3">CRM&BPM</div>
      <%= t(:infopolis_CRM_BPM_long_description).html_safe %>
    </div>
    <div class="col-md-4">789</div>
  </div>
  <div class="row roof"></div>
</div>
