<% provide :title, 'Solutions' %>


<div class="container">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-6">

      <div class="logo3" style="margin-top: 25pt"><%= t(:infopolis_crm_bpm_example_title).html_safe %></div>
      <%= t(:infopolis_crm_bpm_example).html_safe %>


    </div>
    <div class="col-md-1"></div>
    <div class="col-md-4">

      <%= t(:infopolis_crm_bpm_example2).html_safe %>

    </div>
  </div>
  <div class="row roof"></div>
</div>
