<% provide :title, 'video' %>


<div class="container">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-4">
      <div class="logo4" style="margin-top: 25pt; text-align: right"><%= t(:video_header).html_safe %></div>
      <div class="right_column"><%= t(:video_header_txt).html_safe %></div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-6">
      <div class="logo4" style="margin-top: 25pt; text-align: right"><%= t(:video_owerview).html_safe %></div>
      <div class="right_column"><%= t(:video_owerview_txt).html_safe %></div>
    </div>
  </div>
  <div class="row roof"></div>
</div>
