@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap-datetimepicker';
@import 'daterangepicker-bs3';

/* footer */

body {
  font-family: Arial;
  font-size: 10pt;
}

.roof {
  background-color: #D5DAE3;
  height: 20pt;
  text-align: right;
}

hr {
  border-top: 1px solid #aaaaaa;
  margin-top: 5px;
  margin-bottom: 5px;
}

.icon {
  height: 30pt;
  float: left;
  margin-right: 20px;
}

.iconbig {
  height: 50pt;
}

.iconbig2 {
  height: 250pt;
}

.customer_logo {
  height: 60pt;
  margin-top: 50pt;
}
.customer_logo2 {
  height: 20pt;
  text-align : center;
  margin-top: 50pt;
}
.customer_logo3 {
  height: 30pt;
  text-align : center;
  margin-top: 50pt;
}

.black{
  background-color: black !important;
  color: #D5DAE3 !important;
}

.navbar-default, .navbar {
  background-color: inherit;
  border-color: inherit;
  border-radius: inherit;
  border: none;
  vertical-align: middle;
  min-height: inherit;
  margin: inherit;
  margin-left: -15px;
  margin-right: -15px;
  padding-right: 25px;
}

.navbar-nav{
  > li {
      a {
        line-height: 50px;
        font-family: Arial;
        font-size: 12pt;
        color: #D5DAE3 !important;
        &:hover{
          color: #ffffff !important;
          background-color: #3D3D3D !important;
          text-decoration: none;}
      }

      &.active{
        a {
          background-color: #D33D3D !important;
          color: #f0f0f0 !important;
        }
      }
  }
}

.nav .open > a{
  background-color: #3D3D3D !important;
  color: #f0f0f0 !important;

}

A:link {
  text-decoration: none; /* Убирает подчеркивание для ссылок */
}
A:visited { text-decoration: none; }
A:active { text-decoration: none; }

p {
  text-indent: 25px;
}

.p1 {
  text-indent: 0px;
}

.navbar-header {
  vertical-align: middle;
}

.v-align-m {
  vertical-align: middle;
}
.align-c {
 text-align: center;
}

.align-l {
  text-align: left;
}

.align-r {
  text-align: right;
}

.logo {
  font-family: Impact;
  font-size: 20pt;
  font-style: Italic;
  color: #D5DAE3;
  padding: 10pt;
}

.logo2 {
  font-family: Impact;
  font-size: 15pt;
  font-style: Italic;
  color: #5180B3;
  padding: 5pt;
}

.logo3 {
  font-family: Impact;
  font-size: 20pt;
  font-style: Italic;
  color: #5180B3;
  vertical-align: middle;
}

.sitemap {
  font-family: Arial;
  font-size: 15pt;
  font-style: Italic;
  color: #000000;
}
.right_column {
  font-family: Arial;
  font-size: 9pt;
  font-style: normal;

}
.presentation_materials {
  font-family: Arial;
  font-size: 15pt;
  font-style: Italic;

}
.logo4 {
  font-family: Impact;
  font-size: 15pt;
  font-style: Italic;
  color: #5180B3;
  vertical-align: middle;
}

.menu2 {
  font-family: Arial;
  font-size: 10pt;
  color: #050555;
}

.menu3 {
  color: black;
  background-color: #EEEEEE;
}

.menu3-col{
  padding: 25pt;
}
.extable > tbody > tr > td {
  padding: 2px 2px 2px 2px;
  vertical-align: top;
  font-size: 8pt;
}
.button {
  background-color: #FF8040;
  text-align: center;
  font-size: 10pt;
  font-weight: bold;
  color: #E0E0E0;
  width: inherit;
  margin: 5pt;
}
.button:hover {
  color: white;
}

footer {
  a {
    color: #555;
    &:hover {
      color: #222;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

.table > thead > tr > th,
.table > thead > tr > td,
.table > tbody > tr > th,
.table > tbody > tr > td {
  padding: 0px 2px;
  vertical-align: middle;
}

.table > thead > tr > th {
  text-align: center
}


