<footer class="footer">
      <small>
        Designed by <a href="http://infopolis.com.ua/">Infopolis </a><sup>©</sup>
      </small>
      <nav>
        <ul>
          1997 – <%= Time.now.year %>
        </ul>
      </nav>
    </footer>